<div class="board-container">
  <header class="board-header">
    <h1>Task Board</h1>
    <button class="btn-add" (click)="onAddTask()">+ Add Task</button>
  </header>

  <main class="board">
    <div class="column">
      <div class="column-header todo">
        <h2>To Do ({{ this.todoTasks.length }})</h2>
      </div>
      <div class="column-content">
        @if(todoTasks.length > 0) { @for (task of this.todoTasks; track task.id) {
        <div class="task-card">
          <h3>{{ task.title }}</h3>
          @if (task.description) {
          <p>{{ task.description }}</p>
          }
          <span class="priority" [class]="task.priority">{{ task.priority }}</span>
        </div>
        } } @else {
        <p class="empty-message">No tasks yet</p>
        }
      </div>
    </div>

    <div class="column">
      <div class="column-header in-progress">
        <h2>In Progress ({{ this.inProgressTasks.length }})</h2>
      </div>
      <div class="column-content">
        @if(this.inProgressTasks.length > 0){ @for (task of this.inProgressTasks; track task.id) {
        <div class="task-card">
          <h3>{{ task.title }}</h3>
          @if(task.description) {
          <p>{{ task.description }}</p>
          }
          <span class="priority" [class]="task.priority">{{ task.priority }}</span>
        </div>
        } } @else {
        <p class="empty-message">No tasks yet</p>
        }
      </div>
    </div>

    <div class="column">
      <div class="column-header done">
        <h2>Done ({{ this.doneTasks.length }})</h2>
      </div>
      <div class="column-content">
        @if(this.doneTasks.length > 0){ @for (task of this.doneTasks; track task.id ) {
        <div class="task-card">
          <h3>{{ task.title }}</h3>
          @if(task.description) {
          <p>{{ task.description }}</p>
          }
          <span class="priority" [class]="task.priority">{{ task.priority }}</span>
        </div>
        } } @else {
        <p class="empty-message">No tasks yet</p>
        }
      </div>
    </div>
  </main>
</div>
